.main-container {
  width: 100%;
  padding: 0;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 90%;
}

.products-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  font-size: 30px;
}
.pro {
  justify-self: flex-end;
}
.two {
  display: flex;
  justify-content: center;
  align-items: center;
}
