li {
  list-style: none;
  width: 20%;
  height: 600px;
  display: flex;
  background-color: #80808022;
}
img {
  height: 80%;
  width: 100%;
}
h1 {
  font-size: 14px;
}
p {
  font-size: 12px;
  margin-left: 8px;
}
.details {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.discount {
  color: green;
}
.all-details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
